/.idea/
/data/
/ckpt/
/drg_ckpt/
/amr_ckpt/
/stanford-corenlp-full-2018-10-05
/stanford-corenlp
/bert-base-cased
/electra-base

*.DS_Store
*.pyc
*.so
*.pyd
*.obj
*.exp
*.lib
*.log

fast_smatch/build
fast_smatch/_smatch.c
fast_smatch/_smatch.cc
fast_smatch/_smatch.cpp
